@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap");
:root {
    --primary: #256ebb;
    --primary-rgb: 37, 110, 187;
    --smoke-white: #f1f3f5;
    --black: #020117;
    --gray: #acadaf;
    --red: #bb2525;
    --light-gray: #e5e7eb;

    --dashboard-header-height: 64px;
    --dashboard-sidebar-closed-width: var(--dashboard-header-height);
    --dashboard-sidebar-opened-width: 250px;
    --dashboard-sidebar-content-height: var(--dashboard-header-height);
    --dashboard-footer-nav-height: 64px;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", "Roboto", sans-serif;
}
html,
body,
#__nuxt {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

button {
    text-align: center;
}
.toast {
    position: absolute;
    right: 50%;
    bottom: 50px;
    z-index: 9999;
    padding: 10px 20px;
    border-radius: 9999px;
    background-color: var(--primary);
    color: var(--smoke-white);
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: toast 1s ease-in-out both;
}
@keyframes toast {
    0% {
        opacity: 0;
        transform: translateX(50%) translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(50%) translateY(0);
    }
}
