@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap");
:root {
    --primary: #256ebb;
    --white: #f1f3f5;
    --black: #020117;
    --gray: #acadaf;
    --light-gray: #e5e7eb;

    --dashboard-header-height: 64px;
    --dashboard-sidebar-closed-width: var(--dashboard-header-height);
    --dashboard-sidebar-opened-width: 250px;
    --dashboard-sidebar-content-height: var(--dashboard-header-height);
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", "Roboto", sans-serif;
}
html,
body,
#__nuxt {
    width: 100%;
    height: 100%;
}

button {
    text-align: center;
}
